/* Estilos generales */


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

h1,
h2 {
    text-align: center;
}

.login-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    max-width: 400px;
}


/* Estilos para create_user.html */

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}


/* Estilos para los botones */

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 10px;
    /* Añadido margen derecho para separar los botones */
    margin-bottom: 10px;
    /* Añadido margen inferior para separar los botones */
}

button:hover {
    background-color: #45a049;
}


/* Estilos para lista_usuario.html */

.button-container {
    text-align: center;
    margin-bottom: 20px;
}

.button-container a {
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 3px;
}

.button-container a:hover {
    background-color: #45a049;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

.status-button {
    background-color: #4CAF50;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.status-button.inactive {
    background-color: #f44336;
}